language: go

go:
  - 1.5
  
install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
  - go get gopkg.in/yaml.v2
  - go get github.com/codegangsta/cli

script:
  - go build github.com/dudang/golt
  - go test -v -covermode=count -coverprofile=coverage.out
  - $HOME/gopath/bin/goveralls -coverprofile=coverage.out -service=travis-ci -repotoken $COVERALLS_TOKEN
  
notifications:
  slack:
    secure: WiOIHAVGLmF0CY2o8FKkb4bNgfhxLqiu7FKcoCotm5LfvG5WtlvoRqmJ5cMEgjCiBf2EfORSlfbLMoN0X9tShjJJaVVi0ywOsKYW7PJd3oSJkkoqFSGbcr250k1N9BP+R8LL7htbkT7Ggr1GCk/87D4yKH07h7abHA7a5458hdip84g8PkHDO40/wb92df+9apX2+SRryMEt/rFCap9Dot2Cg5c0ByB5hnmzRnu1jBugXL8i4nNRr2rVdEXGFnkhQ1yX1n/dgMGYFSXf5ObCJ5Z3tI13eNGPEnkVXcnTMywkdAzuTyJS4lWCayrxP5BJFTLDbAazdtPOwwKUwXduudAoU/ntiIgaHKXnyrEhCK/knzHjobqB1Aw9+TmeCGcPrvjet2qEXjsl1mu+46VncqeTlI94Qr+5AOsplqi4HlczzbY9Q27InOtCTSOIhhdCIIc7hAUh3lEwBWFA0UtHBbTWx2FaSxT8ryLKeqfIH4IOzD1rmK6xqhTBtdvL5SBCghY2k8yeXJXPBxwg2JVmjhvfbYFSGbVsyX+fJdqLrQpBgZgykjzgOxGU6zTM0SqqBP8rwforE7CvXNhadLeog8YZMj4tlhF0WNzghvBOBHrhjdI7jkXhF8mm5cr9iiZjfXSmz6kkYtrbUO0rBvHPT9zLdDUNI3oPO3MZouV9ojs=
